/*******************/
/* General Styling */
/*******************/

body {
  margin: 0px;
  background: url("../img/background1.jpg");
  background-size: cover;
}
h1,h2{
  font-family: 'Montserrat', sans-serif;
}
p,a{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

/*********************/
/**** Grid Styling ***/
/*********************/

/*Creating a basic grid area for the entire grid class. Then creating a nested grid within*/
.grid{
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  /*Making sure that the columns have 100% width*/
  grid-template-columns: 100%;
  /*assigning the rows to auto*/
  grid-template-rows: auto;
}


/*Styling the header*/
/*adding header to the grid area*/
.grid header{
  grid-area: header;
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  /*This assures that the header doesnt disappear as we scroll down*/
  position: fixed;
  background-color:  #efcca2 ;
}
/*Sending the menu to the far right side of the page*/
header div{
  flex-grow: 1;
  height: 100px;
}
/*makes the logo 100% height of the header*/
header div img{
  padding: 5px;
  height: 90%;
  width: auto;
}
/*styling the navigation*/
header nav {
  /*adding space between the nav and the end of the page*/
  padding: 35px;
}
/*make the nav horizontal and remove the styling*/
header nav ul{
  display: flex;
  list-style: none;
  align-items: center;
}
/*Adding some space between the nav buttons*/
header nav ul li{
  padding: 0px 25px;
}
/*removing the underline and changing the text color to black*/
header nav ul li a{
  text-decoration: none;
  color: black;
}


/*Styling the main*/
.grid main{
  /*assinging the grid area*/
  grid-area: main;
  display: grid;
  grid-template-areas:
    "row1 row1"
    "row2 row3";
  grid-template-columns:50% 50%;
  grid-template-rows: 200px 700px;
}
.grid .contact-title{
  display: grid;
  grid-area: row1;
  margin-top: 75px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  align-items: start;
  grid-template-rows: 50% 50%;
}
.grid .contact-title h1{
  padding-top: 80px;
  font-size: 35px;
}
.grid .contact-title h2{
  font-size: 16px;
  align-items: start;
  padding-top: 78px;
}

/*Styling the section*/
.grid main section {
  grid-area: row2;
  width: 100%;
  display: grid;
  justify-content: center;
  padding-top: 61px;
  padding-left: 100px;
}
.grid main section h3{
  color: white;
  font-size: 30px;
  text-decoration:underline;
  height: 10%;
  width: auto;
  padding-top: 100px;
}
.grid main section div{
  height: auto;
  width: auto;
  padding-bottom: 150px;
}
.grid main section div h4{
  margin-top: 0px;
  color:white;
  font-size: 18px;
}

/*styling the form*/
.grid main aside{
  grid-area: row3;
  display: grid;
  justify-content: start;
  align-items: center;
  padding-top: 41px;
  width: 100%;
  height: auto;
  padding-left: 103px;
}
/*styling the h3*/
.grid main aside h3{
  font-size: 35px;
  color: white;
  font-weight: 100;
}
/*styling the name part*/
.grid main aside h4{
  font-size: 20px;
  color: white;
  font-weight: 50;
}
/*The input bar styling*/
.grid main aside input,
.grid main aside textarea{
  width: 300px;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 18px;
  border-bottom: 1px solid white;
}
.grid main aside textarea{
  margin-bottom: 20px;
  padding-bottom: 0px;
}


/*Styling the footer*/
.grid footer{
  margin-top: 100px;
  grid-area: footer;
  background-color:#efcca2;
  display: grid;
  align-items: center;
  justify-content: center;
  border-top: 5px solid gray;
}
/*Styling the text in footer*/
.grid footer h4{
  color: black;
  font-size: 50px;
}

/*Styling the logos*/
.grid footer nav{
  display:flex;
  justify-content:center;
  align-items: center;
  height: auto;;
  width: auto;
}
.grid footer nav div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: auto;
}
.grid footer nav div a img{
  display: flex;
  height: 40px;
  padding: 8px;
  width: auto;
}



























/****************************/
/*****Responsive Styling*****/
/****************************/

/*The common viewports are 320px, 480px, 600px, 768px, 1024px, and 1200px*/
/*styling for 1200px*/
@media screen and (max-width: 1200px){
  /*styling the header*/
  .grid header{
    max-width: 1200px;
    height: 110px;
  }
  .grid header div img{
    padding: 5px 10px;
    height: 90px;
  }
  .grid header nav ul li{
    padding: 0px 10px;
  }

  .grid main section:nth-child(1){
    max-width: 1200px;
  }
  .grid main section:nth-child(1) div{
    padding: 0px;
    margin: 0px;
  }
  .grid main section:nth-child(1) div h2{
    padding-top: 100px;
  }

  /*Styling the footer*/
  .grid footer{
    max-width: 1200px;
    height: auto;
  }
}

/*styling for 1024px*/
@media screen and (max-width: 1024px){
  .grid header{
    max-width: 1024px;
    height: 110px;
  }
  .grid header div img{
    padding: 5px 10px;
    height: 90px;
  }
  .grid header nav ul li{
    padding: 0px 10px;
  }

  /*Styling the footer*/
  .grid footer{
    max-width: 1024px;
    height: auto;
  }
}

/*styling for 768px*/
@media screen and (max-width: 768px){
  /*styling the header*/
  .grid header{
    max-width: 768px;
    height: 110px;
  }
  .grid header div img{
    padding: 5px 10px;
    height: 90px;
  }
  .grid header nav ul li{
    padding: 0px 10px;
  }

  /*styling the main*/
  .grid main div{
    max-width: 768px;
  }
  /*the section assigning max width and removing padding*/
  .grid main section{
    max-width: 768px;
    padding: 0px;
  }
  /*adding padding to the left to align the h3*/
  .grid main section h3{
    max-width: 768px;
    padding-left: 10px;
  }
  /*reducing top margin to align the div*/
  .grid main section div{
    max-width: 768px;
    margin-top: -200px;
  }
  /*adding padding on either side to center the h4*/
  .grid main section div h4{
    max-width: 768px;
    padding-left: 10px;
    padding-right: 10px;
  }
  /*making sure that the contents are in the center of the aside*/
  .grid main aside{
    max-width: 750px;
    padding: 0px;
    align-items: center;
    justify-content: center;
  }

  /*Styling the footer*/
  .grid footer{
    max-width: 768px;
    height: 300px;
    /*! margin-top: -500px; */
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}


@media screen and (max-width: 600px){
  .grid{
    display: flex;
    flex-direction: column;
  }

  /*making the elements stack on top of each other*/
  /*styling the header*/
  .grid header{
    flex-direction: column;
    height: 200px;
    max-width: 600px;
  }
  /*removing  bottom margin to bring the text and img closer*/
  .grid header div{
    padding-top: 10px;
    margin-bottom: -30px;
  }
  /*Setting the height to better suit the page and pixel*/
  .grid header img{
    height: 120px;
    justify-content: center;
    padding-left: 47px;
  }
  /*styling the nav*/
  /*removing the space in between the nav buttons*/
  .grid header nav ul li{
    padding: 0px 10px;
  }
  .grid main div{
    width: 500px;
  }
  /*adding margin to the top to lower the h1 element from behind the header*/
  .grid main div h1{
    width: 600px;
    padding: 0px;
    margin-top: 70px;
  }
  .grid main div h2{
    width: 600px;
    padding: 0px;
    margin-top: 70px;
  }

  .grid main section{
    width: 600px;
    margin-top: 50px;
  }
  .grid main section h3{
    width: 600px;
  }
  /*adding some padding to the top to align the contents better*/
  .grid main section div{
    width: 600px;
    padding-top: 100px;
  }
  .grid main section div h4{
    width: 290px;
  }
  /*working on the aside the margins to better align the items*/
  .grid main aside{
    max-width: 600px;
    margin-top: 100px;
    margin-left: -20px;
    width: 300px;
    padding: 0px;
  }
  .grid main aside form{
    max-width: 600px;
  }
  .grid main aside form h3{
    max-width: 600px;
  }
  .grid main aside form h4{
    max-width: 600px;
  }
  .grid main aside form input{
    max-width: 600px;
  }
  .grid main aside form textarea{
    max-width: 600px;
  }

  /*Styling the footer*/
  .grid footer{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    max-width: 600px;
    height: 100px;
    justify-content: center;
    padding-top: 82px;
    border-top: 5px solid gray;
    background-color: white;
  }
  .grid footer h4{
    margin-top: -170px;
    font-size: 50px;
    padding-top: 109px;
  }
  .grid footer div{
    margin-top: -73px;
    margin-bottom: px;
  }
}


/*Adjusts the 480 pixel width*/
@media screen and (max-width: 480px){
  .grid{
    display: flex;
    flex-direction: column;
  }

  /*making the elements stack on top of each other*/
  /*styling the header*/
  .grid header{
    flex-direction: column;
    height: 200px;
    max-width: 480px;
  }
  .grid header div{
    padding-top: 10px;
    margin-bottom: -30px;
  }
  .grid header img{
    height: 120px;
    justify-content: center;
    padding-left: 47px;
  }

  /*styling the main*/
  .grid main div{
    max-width: 480px;
  }
  .grid main div h1{
    max-width: 480px;
  }
  .grid main div h2{
    max-width: 480px;
  }

  /*changing to flex to make the content stack on each other*/
  .grid main section{
    width: 480px;
    height: 500px;
    display: flex;
    flex-direction: column;
  }
  /*aligning the h3 content to the center of the container*/
  .grid main section h3{
    max-width: 480px;
    display: flex;
    padding-bottom: 100px;
    text-align: center;
    justify-content: center;
  }
  .grid main section div{
    max-width: 480px;
  }
  /*Adding padding to the left and aligning the text to its center*/
  .grid main section div h4{
    max-width: 480px;
    text-align: center;
    padding-left: 100px;
  }

  /* chaning flex to make the content stack on top of one another*/
  .grid main aside{
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin-top: 700px;
    padding: 0px;
    margin-left: -135px;
  }
  /*aligning the text to the center format*/
  .grid main aside form{
    text-align:center;
    max-width: 480px;
  }
  .grid main aside form h3{
    max-width: 480px;
  }
  .grid main aside form h4{
    max-width: 480px;
  }
  .grid main aside form input{
    max-width: 480px;
    text-align:center;
  }
  .grid main aside form textarea{
    max-width: 480px;
    text-align:center;
  }

  /*Styling the footer*/
  .grid footer{
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    max-width: 480px;
    height: 100px;
    justify-content: center;
    padding-top:  50px;
    border-top: 5px solid gray;
    bottom: 0px;
    overflow: hidden;
  }
  .grid footer h4{
    margin-top: -100px;
    font-size: 40px;
    padding-bottom: 20px;
  }
  .grid footer div{
    margin-top: -73px;
    margin-bottom: 40px;
  }
}



/*Adjusts the 320 pixel width*/
@media screen and (max-width: 320px){
  .grid{
    display: flex;
    flex-direction: column;
  }

  /*making the elements stack on top of each other*/
  /*styling the header*/
  .grid header{
    flex-direction: column;
    height: 200px;
    max-width: 320px;
  }
  .grid header div{
    padding-top: 10px;
    margin-bottom: -30px;
  }
  .grid header img{
    height: 120px;
    justify-content: center;
    padding-left: 47px;
  }
  /*styling the nav*/
  /*removing the space in between the nav buttons*/
  .grid header nav ul li{
    padding: 0px 2px;
  }
  .grid header nav{
    margin-left: -35px;
  }

  /*styling the main*/
  .grid main div{
    max-width: 300px;
  }
  .grid main div h1{
    max-width: 300px;
  }
  .grid main div h2{
    max-width: 300px;
  }

  .grid main section{
    max-width: 300px;
    margin-top: 100px;
  }
  /*setting the h3 to the center of the center of the column*/
  .grid main section h3{
    max-width: 300px;
    justify-content: center;
  }
  .grid main section div{
    max-width: 300px;
  }
  /*adding padding all around to better center the hg4*/
    .grid main section div h4{
    width: 250px;
    justify-content: center;
    padding: 0px 10px 0px 30px;
  }

/*adding margin to the top to stop it from overlapping*/
  .grid main aside{
    width: 300px;
    margin-top: 740px;
  }
  .grid main aside form{
    width: 200px;
  }
  /*assigning the width and changing the font size*/
  .grid main aside form h3{
    font-size: 28px;
    margin-left: -15px;
    width: 200px;
  }
  .grid main aside form h4{
     width: 200px;
     margin-left: -15px;
  }
  .grid main aside form input{
    width: 200px;
    margin-left: -15px;

  }
  .grid main aside form textarea{
    width: 200px;
    margin-left: -15px;

  }

  /*Styling the footer*/
  .grid footer{

    display: flex;
    flex-direction: column;
    margin-top: 350px;
    max-width: 480px;
    height: 125px;
    justify-content: center;
    padding-top:  50px;
    border-top: 5px solid gray;
  }
  .grid footer h4{
    margin-top: -150px;
    font-size: 28px;
    padding-bottom: 30px;
  }
  .grid footer div{
    margin-top: -73px;
    margin-bottom: 0px;
  }
}
